/* Har ändrat till Arial för att göra det mer lättläst. 
Återställer standardmarginaler/padding och använder border-box för att inkludera padding i elementets storlek */
* {
  margin: 0;
  padding: 0;
  font-family: Arial;
  width: auto;
}

/* text-shadow bara i navigationen. Tog bort letter-spacing och word-spacing så man inte behöver göra illa nacken när man läser ett ord. Tog bort alla inställningar för hur texterna ser ut på hela sidan för att tillämpa olika inställningar för olika ändamål och för att texterna inte ska bli så långa och ta stor plats. Ställer in bakgrundsfärg, textfärg och textstil för hela sidan */
body {
  background: linear-gradient(#9EA3B0, #FAE1DF);
} 

/* TAR BORT DENNA. Tar bort understrykning på länkar och ändrar färg 
a {
  color: #f5f5dc;
  text-decoration: none;
} */

/* TAR BORT Stilar för en knapp-liknande div, men "not-allowed" cursor gör att den ser inaktiv ut 
.button {
  background-color: magenta;
  color: cyan;
  font-size: 50px;
  padding: 20px;
  border: 5px dashed black;
  cursor: pointer;
  text-transform: uppercase;
} */ 

/* TAR BORT Nästan osynlig text, spegelvänd 
.hidden-text {
  display: block;
  opacity: 0.1;
  font-size: 50px;
  transform: rotate(180deg);
} */

/* TAR BORT En behållare med mittjusterad text och en blå transparent bakgrund 
.container {
  width: 100%;
  margin: auto;
  border: 10px solid pink;
  background-color: rgba(0, 0, 255, 0.2);
  text-align: center;
} */ 

/* TAR BORT Rubrik med stor text och mörkröd färg, justerad till höger 
.headline {
  font-size: 80px;
  font-weight: lighter;
  color: #8d0801;
  text-align: right;
  margin: 50px;
  padding: 20px;
} */ 

.logo {
  display: flex;
  justify-content: center;
}

.logo__link {
  text-decoration: none;
  color: inherit;
}

.logo__img {
  width: 5rem;
}

.logo__h1 {
  background-color: white;
  text-align: center;
  padding-top: 1.5rem;
  font-weight: bold;
  color: #c04242ef;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

/* Navigeringsmeny med mörk bakgrund och jämnt fördelade element */
.navigation {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  font-size: 36px;
  font-weight: bold;
  text-shadow: 5px 5px 10px black;
  padding-top: 2rem;
}

.navigation__items {
  background: linear-gradient(90deg, #0D1F2D, #546A7B);
}

/* Navigeringslänkar */
.navigation__item {
  color: #ffffff;
  padding: 10px;
  text-decoration: none;
}
/* Media query för navigationen */ 
@media (max-width: 768px) {

  .navigation__item {
    font-size: 24px; 
    padding: 8px; 
  }
}

@media (max-width: 480px) {

  .navigation__item {
    font-size: 14px;
    padding: 5px; 
  }
}

.navigation__item:hover {
  transform: scale(1.1)
}

/* Search field is now in the middle of the page and bigger. */
.navigation__search {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.navigation__searchfield {
  width: 30%;
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  height: 1.5rem;
  border-radius: 0.5rem;
}

.navigation__searchfield:focus {
  border-color: #187498;
  box-shadow: 0 0 10px rgba(24, 116, 152, 0.5);
}

.navigation__button {
  width: 4rem;
  border-radius: 0.5rem;
  margin-left: 0.5rem;
  color: black;
  text-align: center;
  text-decoration: none;
  border: none;
  font-weight: bold;
}

.navigation__button:hover {
  cursor: pointer;
}

.clickhere {
  text-align: center;
  padding-bottom: 2rem;
  margin: 1rem auto;
  background-color: white;
  width: 70%;
  max-width: 1200px;
  border-radius: 1rem;
  margin-bottom: 5rem;
}

.clickhere__button {
  width: 10rem;
  height: 2rem;
  border-radius: 0.5rem;
  border: 2px solid #0D1F2D;
  margin-left: 0.5rem;
  margin-top: 1rem;;
  color: black;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

.clickhere__button:hover {
  cursor: pointer;
}

.clickhere__found-text {
  font-size: 1.5rem;
  background:#546A7B;
  padding: 1rem;
  color: white;
}

.breakingNews {
  text-align: center;
  padding: 0 0 3rem 0;
  margin: 1rem auto;
  background-color: white;
  width: 70%;
  max-width: 1200px;
  border-radius: 1rem;
}

.breakingNews__h2 {
  padding: 1rem;
  margin-bottom: 1rem;
  background: #546A7B;
  color: white;
  font-size: 2rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

/* Smalare textruta så det är lättare att skanna */
.breakingNews__text {
  padding: 0 3rem 0 3rem;
  margin-bottom: 1rem;
}

.breakingNews__link {
  color: blue;
  text-decoration: underline;
}

/* ÄNDRAT TILL ANNAN FÄRG Bakgrundsfärg vid hover på navigationslänkar
.navigation .nav-item:hover a {
  background-color: #acacac40;
} */

/* Bilderna placeras i en rad, centrerar dem horisontellt och vertikalt och lägger till ett mellanrum mellan bilderna */
.newyear__image-container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  padding: 0 0.5rem 0 0.5rem;
}

.newyear__image-link {
  display: block; 
}

/* Definierar storleken på bilderna och gör att de täcker det angivna utrymmet utan att bli förvrängda  */
.newyear__image-container img {
  width: 100%;
  max-width: 300px;
  max-height: 10rem;
  transition: transform 0.3s ease;
}

.newyear__image-container img:hover {
  transform: scale(1.1);  /* Scale the image up to 110% */
}

/* TOG BORT ORANGEA Artikel med prickad orange linje och en radial gradient som bakgrund */
.newyear {
  width: 70%;
  align-content: center;
  text-align: center;
  margin: 1rem auto;
  max-width: 1200px;
  background-color:white;
  border-radius: 1rem;
}

.newyear__h3 {
  font-size: 1.5rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
  background-color: #546A7B;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  color: white;
}
/* HOVER EFFEKT FÖR ATT FÖRTYDLIGA ATT DE GÅR ATT KLICKA PÅ */ 
.newyear__linkInfo {
  padding: 1rem;
  
}

/* TOG BORT Input-fält i en container med kolumnlayout och flytande positionering 
.input-container {
  display: flex;
  flex-direction: column;
  float: right;
  width: 50%;
  background: #ffffff00;  Genomskinlig bakgrund
} */


/* Fake-ad stannar kvar men nu är det tydligt hur man ska stänga den och den kommer bara fram när man tryckt på en knapp. En "fake ad" med blinkande bakgrund och fast position längst ner */
#fake-ad {
  background: repeating-radial-gradient(circle, cyan, magenta 10%, yellow 20%);
  text-align: center;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
}

.fake-ad__close {
  width: 10rem;
  height: 2rem;
  margin-bottom: 1rem;
}

.fake-ad__close:hover {
  cursor: pointer;
}

/* Sektion med centrerad layout */
.top-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Text med en hover-effekt som drastiskt krymper storleken */
.btext {
  font-size: 18px;
  padding: 10px 15px;
  margin-top: 10px;
  font-weight: bold;
  transition: transform 0.5s ease-in-out, font-size 0.5s ease-in-out,
    padding 0.5s ease-in-out;
}

/* På hover minskas texten kraftigt, nästan osynlig */
.btext:hover {
  transform: scale(0.1);
  font-size: 1px;
  padding: 1px;
}

/* Bild som roterar mellan -45 och 45 grader */
.rotating-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: rotateLeftRight 2s infinite alternate ease-in-out;
}

/* Nyckelbildning för att rotera bilden åt vänster och höger */
@keyframes rotateLeftRight {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
