* {
  margin: 0;
  padding: 0;
  font-family: Arial;
  width: auto;
}

body {
  background: linear-gradient(#9ea3b0, #fae1df);
}

.logo {
  display: flex;
  justify-content: center;
}

.logo__link {
  text-decoration: none;
  color: inherit;
}

.logo__img {
  width: 5rem;
}

.logo__h1 {
  background-color: white;
  text-align: center;
  padding-top: 1.5rem;
  font-weight: bold;
  color: #c04242ef;
}

.navigation {
  padding-right: 10rem;
  padding-left: 10rem;
  display: flex;
  justify-content: space-between;
  font-size: 36px;
  font-weight: bold;
  text-shadow: 5px 5px 10px black;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.navigation__items {
  background: linear-gradient(90deg, #0d1f2d, #546a7b);
}

.navigation__item {
  color: #ffffff;
  padding: 10px;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@media (max-width: 768px) {
  .navigation {
    padding: 2rem;
  }


  .navigation__item {
    font-size: 24px;
    padding: 8px;
  }
}

@media (max-width: 900px) {
  .navigation {
    padding: 2rem;
  }


  .navigation__item {
    font-size: 24px;
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .navigation {
    padding: 2rem;
  }
  .navigation__item {
    font-size: 14px;
    padding: 5px;
  }

  .breakingNews,
  .newyear,
  .movie,
  .clickhere {
    max-width: 600px;
    width: 100%;
  }
  #myVideo {
    width: 100%;
    height: auto;
  }

  .movie__button-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

.navigation__item:hover {
  transform: scale(1.1);
}

.navigation__search {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.navigation__searchfield {
  width: 30%;
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  height: 1.5rem;
  border-radius: 0.5rem;
}

.navigation__searchfield:focus {
  border-color: #187498;
  box-shadow: 0 0 10px rgba(24, 116, 152, 0.5);
}

.navigation__button {
  width: 4rem;
  border-radius: 0.5rem;
  margin-left: 0.5rem;
  color: black;
  text-align: center;
  text-decoration: none;
  border: none;
  font-weight: bold;
}

.navigation__button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.breakingNews {
  text-align: center;
  padding: 0 0 3rem 0;
  margin: 1rem auto;
  background-color: white;
  width: 70%;
  max-width: 1200px;
  border-radius: 1rem;
}

.breakingNews__h2 {
  padding: 1rem;
  margin-bottom: 1rem;
  background: #546a7b;
  color: white;
  font-size: 2rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.breakingNews__text {
  padding: 0 3rem 0 3rem;
  margin-bottom: 1rem;
}

.breakingNews__link {
  color: blue;
  text-decoration: underline;
}

.newyear__image-container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  padding: 0 0.5rem 0 0.5rem;
}

.newyear__image-link {
  display: block;
}

.newyear__image-container img {
  width: 100%;
  max-width: 300px;
  max-height: 10rem;
  transition: transform 0.3s ease;
}

.newyear__image-container img:hover {
  transform: scale(1.1);
}

.newyear {
  width: 70%;
  align-content: center;
  text-align: center;
  margin: 1rem auto;
  max-width: 1200px;
  background-color: white;
  border-radius: 1rem;
}

.newyear__h3 {
  font-size: 1.5rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
  background-color: #546a7b;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  color: white;
}

.newyear__linkInfo {
  padding: 1rem;
}

.movie {
  text-align: center;
  padding-bottom: 2rem;
  margin: 1rem auto;
  background-color: white;
  width: 70%;
  max-width: 1200px;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.movie__h4 {
  font-size: 1.5rem;
  background: #546a7b;
  padding: 1rem;
  color: white;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

#myVideo {
  padding-top: 1rem;
}

.movie__button-container {
  display: flex;
  justify-content: center;
}

.movie__button {
  width: 9rem;
  height: 2rem;
  border-radius: 0.5rem;
  border: 2px solid #0d1f2d;
  margin-left: 0.5rem;
  margin-top: 1rem;
  color: black;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}
.movie__button:hover {
  cursor: pointer;
  transform: scale(1.05);
}


.clickhere {
  text-align: center;
  padding-bottom: 2rem;
  margin: 1rem auto;
  background-color: white;
  width: 70%;
  max-width: 1200px;
  border-radius: 1rem;
  margin-bottom: 4rem;
}

.clickhere__button {
  width: 10rem;
  height: 2rem;
  border-radius: 0.5rem;
  border: 2px solid #0d1f2d;
  margin-left: 0.5rem;
  margin-top: 1rem;
  color: black;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

.clickhere__button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.clickhere__h5 {
  font-size: 1.5rem;
  background: #546a7b;
  padding: 1rem;
  color: white;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

/* old styling that I have not touched starts here */

#fake-ad {
  background: repeating-radial-gradient(circle, cyan, magenta 10%, yellow 20%);
  text-align: center;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
}

.fake-ad__close {
  width: 10rem;
  height: 2rem;
  margin-bottom: 1rem;
}

.fake-ad__close:hover {
  cursor: pointer;
}

.top-section {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.btext {
  font-size: 18px;
  padding: 10px 15px;
  margin-top: 10px;
  font-weight: bold;
  transition: transform 0.5s ease-in-out, font-size 0.5s ease-in-out,
    padding 0.5s ease-in-out;
}

.btext:hover {
  transform: scale(0.1);
  font-size: 1px;
  padding: 1px;
}

.rotating-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: rotateLeftRight 2s infinite alternate ease-in-out;
}

@keyframes rotateLeftRight {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
